<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@string/app_logo"
            android:label="@string/app_name"
            android:roundIcon="@string/app_logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.Netflix"
            tools:targetApi="31">
        <activity
                android:name=".Activities.SplashScreenActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainScreens.MovieDetails"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainScreens.VideoPlayer"
                android:exported="false"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".MainScreens.Search"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainScreens.Settings"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainScreens.Movies"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainScreens.TvSeries"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Activities.SigninActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainScreens.MainScreen"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.razorpay.ApiKey"
                android:value="rzp_test_qMC9j9qqKr7Cvu"/>
    </application>

</manifest>